#map {
  height: 100vh;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.lightbox {
	/** Default lightbox to hidden */
  padding-top:25vh;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
  transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(120%,0);
}
.lightbox-target {
	/** Remove default browser outline */
	outline: none;
  transform:translate(0,0);
	/** Unhide lightbox **/
	display: block;
}
.lightbox img {
  max-width:500px;
  margin-top:-250px;
}
